=begin
#Project API

#No description provided (generated by Swagger Codegen https://github.com/swagger-api/swagger-codegen)

OpenAPI spec version: 1.0.0

Generated by: https://github.com/swagger-api/swagger-codegen.git
Swagger Codegen version: 2.4.4

=end

require 'uri'

module GlobalEventTechnologyApiClient
  class ProjectTaxRatesApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # @param project_id 
    # @param [Hash] opts the optional parameters
    # @return [ArrayResultOfTaxRatesModel]
    def project_tax_rates_get_all(project_id, opts = {})
      data, _status_code, _headers = project_tax_rates_get_all_with_http_info(project_id, opts)
      data
    end

    # @param project_id 
    # @param [Hash] opts the optional parameters
    # @return [Array<(ArrayResultOfTaxRatesModel, Fixnum, Hash)>] ArrayResultOfTaxRatesModel data, response status code and response headers
    def project_tax_rates_get_all_with_http_info(project_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ProjectTaxRatesApi.project_tax_rates_get_all ...'
      end
      # verify the required parameter 'project_id' is set
      if @api_client.config.client_side_validation && project_id.nil?
        fail ArgumentError, "Missing the required parameter 'project_id' when calling ProjectTaxRatesApi.project_tax_rates_get_all"
      end
      # resource path
      local_var_path = '/projects/{projectId}/tax-rates'.sub('{' + 'projectId' + '}', project_id.to_s)

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = ['apikey']
      data, status_code, headers = @api_client.call_api(:GET, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'ArrayResultOfTaxRatesModel')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ProjectTaxRatesApi#project_tax_rates_get_all\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # @param project_id 
    # @param tax_rate_id 
    # @param [Hash] opts the optional parameters
    # @return [ProductsModel]
    def project_tax_rates_get_by_id(project_id, tax_rate_id, opts = {})
      data, _status_code, _headers = project_tax_rates_get_by_id_with_http_info(project_id, tax_rate_id, opts)
      data
    end

    # @param project_id 
    # @param tax_rate_id 
    # @param [Hash] opts the optional parameters
    # @return [Array<(ProductsModel, Fixnum, Hash)>] ProductsModel data, response status code and response headers
    def project_tax_rates_get_by_id_with_http_info(project_id, tax_rate_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ProjectTaxRatesApi.project_tax_rates_get_by_id ...'
      end
      # verify the required parameter 'project_id' is set
      if @api_client.config.client_side_validation && project_id.nil?
        fail ArgumentError, "Missing the required parameter 'project_id' when calling ProjectTaxRatesApi.project_tax_rates_get_by_id"
      end
      # verify the required parameter 'tax_rate_id' is set
      if @api_client.config.client_side_validation && tax_rate_id.nil?
        fail ArgumentError, "Missing the required parameter 'tax_rate_id' when calling ProjectTaxRatesApi.project_tax_rates_get_by_id"
      end
      # resource path
      local_var_path = '/projects/{projectId}/tax-rates/{taxRateId}'.sub('{' + 'projectId' + '}', project_id.to_s).sub('{' + 'taxRateId' + '}', tax_rate_id.to_s)

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = ['apikey']
      data, status_code, headers = @api_client.call_api(:GET, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'ProductsModel')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ProjectTaxRatesApi#project_tax_rates_get_by_id\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
