=begin
#Project API

#No description provided (generated by Swagger Codegen https://github.com/swagger-api/swagger-codegen)

OpenAPI spec version: 1.0.0

Generated by: https://github.com/swagger-api/swagger-codegen.git
Swagger Codegen version: 2.4.51-SNAPSHOT

=end

require 'uri'

module GlobalEventTechnologyApiClient
  class ProjectTagChangeViaTicketApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # @param project_id 
    # @param external_reference 
    # @param args 
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def project_tag_change_via_ticket_create(project_id, external_reference, args, opts = {})
      project_tag_change_via_ticket_create_with_http_info(project_id, external_reference, args, opts)
      nil
    end

    # @param project_id 
    # @param external_reference 
    # @param args 
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Fixnum, Hash)>] nil, response status code and response headers
    def project_tag_change_via_ticket_create_with_http_info(project_id, external_reference, args, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ProjectTagChangeViaTicketApi.project_tag_change_via_ticket_create ...'
      end
      # verify the required parameter 'project_id' is set
      if @api_client.config.client_side_validation && project_id.nil?
        fail ArgumentError, "Missing the required parameter 'project_id' when calling ProjectTagChangeViaTicketApi.project_tag_change_via_ticket_create"
      end
      # verify the required parameter 'external_reference' is set
      if @api_client.config.client_side_validation && external_reference.nil?
        fail ArgumentError, "Missing the required parameter 'external_reference' when calling ProjectTagChangeViaTicketApi.project_tag_change_via_ticket_create"
      end
      # verify the required parameter 'args' is set
      if @api_client.config.client_side_validation && args.nil?
        fail ArgumentError, "Missing the required parameter 'args' when calling ProjectTagChangeViaTicketApi.project_tag_change_via_ticket_create"
      end
      # resource path
      local_var_path = '/projects/{projectId}/tag-changes-via-ticket/{externalReference}'.sub('{' + 'projectId' + '}', project_id.to_s).sub('{' + 'externalReference' + '}', external_reference.to_s)

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = @api_client.object_to_http_body(args)
      auth_names = ['apikey']
      data, status_code, headers = @api_client.call_api(:POST, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ProjectTagChangeViaTicketApi#project_tag_change_via_ticket_create\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # @param project_id 
    # @param external_reference 
    # @param [Hash] opts the optional parameters
    # @return [ExternalApiTicketChangeInfoModel]
    def project_tag_change_via_ticket_get(project_id, external_reference, opts = {})
      data, _status_code, _headers = project_tag_change_via_ticket_get_with_http_info(project_id, external_reference, opts)
      data
    end

    # @param project_id 
    # @param external_reference 
    # @param [Hash] opts the optional parameters
    # @return [Array<(ExternalApiTicketChangeInfoModel, Fixnum, Hash)>] ExternalApiTicketChangeInfoModel data, response status code and response headers
    def project_tag_change_via_ticket_get_with_http_info(project_id, external_reference, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ProjectTagChangeViaTicketApi.project_tag_change_via_ticket_get ...'
      end
      # verify the required parameter 'project_id' is set
      if @api_client.config.client_side_validation && project_id.nil?
        fail ArgumentError, "Missing the required parameter 'project_id' when calling ProjectTagChangeViaTicketApi.project_tag_change_via_ticket_get"
      end
      # verify the required parameter 'external_reference' is set
      if @api_client.config.client_side_validation && external_reference.nil?
        fail ArgumentError, "Missing the required parameter 'external_reference' when calling ProjectTagChangeViaTicketApi.project_tag_change_via_ticket_get"
      end
      # resource path
      local_var_path = '/projects/{projectId}/tag-changes-via-ticket/{externalReference}'.sub('{' + 'projectId' + '}', project_id.to_s).sub('{' + 'externalReference' + '}', external_reference.to_s)

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = ['apikey']
      data, status_code, headers = @api_client.call_api(:GET, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'ExternalApiTicketChangeInfoModel')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ProjectTagChangeViaTicketApi#project_tag_change_via_ticket_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # @param project_id 
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :limit 
    # @option opts [String] :_next 
    # @return [ArrayResultOfExternalApiTicketChangeInfoModel]
    def project_tag_change_via_ticket_get_all(project_id, opts = {})
      data, _status_code, _headers = project_tag_change_via_ticket_get_all_with_http_info(project_id, opts)
      data
    end

    # @param project_id 
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :limit 
    # @option opts [String] :_next 
    # @return [Array<(ArrayResultOfExternalApiTicketChangeInfoModel, Fixnum, Hash)>] ArrayResultOfExternalApiTicketChangeInfoModel data, response status code and response headers
    def project_tag_change_via_ticket_get_all_with_http_info(project_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ProjectTagChangeViaTicketApi.project_tag_change_via_ticket_get_all ...'
      end
      # verify the required parameter 'project_id' is set
      if @api_client.config.client_side_validation && project_id.nil?
        fail ArgumentError, "Missing the required parameter 'project_id' when calling ProjectTagChangeViaTicketApi.project_tag_change_via_ticket_get_all"
      end
      # resource path
      local_var_path = '/projects/{projectId}/tag-changes-via-ticket'.sub('{' + 'projectId' + '}', project_id.to_s)

      # query parameters
      query_params = {}
      query_params[:'limit'] = opts[:'limit'] if !opts[:'limit'].nil?
      query_params[:'next'] = opts[:'_next'] if !opts[:'_next'].nil?

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = ['apikey']
      data, status_code, headers = @api_client.call_api(:GET, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'ArrayResultOfExternalApiTicketChangeInfoModel')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ProjectTagChangeViaTicketApi#project_tag_change_via_ticket_get_all\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
