=begin
#Project API

#No description provided (generated by Swagger Codegen https://github.com/swagger-api/swagger-codegen)

OpenAPI spec version: 1.0.0

Generated by: https://github.com/swagger-api/swagger-codegen.git
Swagger Codegen version: 3.0.57
=end

module GlobalEventTechnologyApiClient
  class ProjectTicketsApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # @param body 
    # @param project_id 
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def project_tickets_create_or_update(body, project_id, opts = {})
      project_tickets_create_or_update_with_http_info(body, project_id, opts)
      nil
    end

    # @param body 
    # @param project_id 
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def project_tickets_create_or_update_with_http_info(body, project_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ProjectTicketsApi.project_tickets_create_or_update ...'
      end
      # verify the required parameter 'body' is set
      if @api_client.config.client_side_validation && body.nil?
        fail ArgumentError, "Missing the required parameter 'body' when calling ProjectTicketsApi.project_tickets_create_or_update"
      end
      # verify the required parameter 'project_id' is set
      if @api_client.config.client_side_validation && project_id.nil?
        fail ArgumentError, "Missing the required parameter 'project_id' when calling ProjectTicketsApi.project_tickets_create_or_update"
      end
      # resource path
      local_var_path = '/projects/{projectId}/tickets'.sub('{' + 'projectId' + '}', project_id.to_s)

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:body] || @api_client.object_to_http_body(body) 

      return_type = opts[:return_type] 

      auth_names = opts[:auth_names] || ['apikey']
      data, status_code, headers = @api_client.call_api(:POST, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type)

      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ProjectTicketsApi#project_tickets_create_or_update\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # @param project_id 
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :limit 
    # @option opts [String] :_next 
    # @return [ArrayResultOfTicketModel]
    def project_tickets_get_all(project_id, opts = {})
      data, _status_code, _headers = project_tickets_get_all_with_http_info(project_id, opts)
      data
    end

    # @param project_id 
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :limit 
    # @option opts [String] :_next 
    # @return [Array<(ArrayResultOfTicketModel, Integer, Hash)>] ArrayResultOfTicketModel data, response status code and response headers
    def project_tickets_get_all_with_http_info(project_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ProjectTicketsApi.project_tickets_get_all ...'
      end
      # verify the required parameter 'project_id' is set
      if @api_client.config.client_side_validation && project_id.nil?
        fail ArgumentError, "Missing the required parameter 'project_id' when calling ProjectTicketsApi.project_tickets_get_all"
      end
      # resource path
      local_var_path = '/projects/{projectId}/tickets'.sub('{' + 'projectId' + '}', project_id.to_s)

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'limit'] = opts[:'limit'] if !opts[:'limit'].nil?
      query_params[:'next'] = opts[:'_next'] if !opts[:'_next'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:body] 

      return_type = opts[:return_type] || 'ArrayResultOfTicketModel' 

      auth_names = opts[:auth_names] || ['apikey']
      data, status_code, headers = @api_client.call_api(:GET, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type)

      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ProjectTicketsApi#project_tickets_get_all\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # @param project_id 
    # @param ticket_barcode 
    # @param [Hash] opts the optional parameters
    # @return [TicketModel]
    def project_tickets_get_by_barcode(project_id, ticket_barcode, opts = {})
      data, _status_code, _headers = project_tickets_get_by_barcode_with_http_info(project_id, ticket_barcode, opts)
      data
    end

    # @param project_id 
    # @param ticket_barcode 
    # @param [Hash] opts the optional parameters
    # @return [Array<(TicketModel, Integer, Hash)>] TicketModel data, response status code and response headers
    def project_tickets_get_by_barcode_with_http_info(project_id, ticket_barcode, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ProjectTicketsApi.project_tickets_get_by_barcode ...'
      end
      # verify the required parameter 'project_id' is set
      if @api_client.config.client_side_validation && project_id.nil?
        fail ArgumentError, "Missing the required parameter 'project_id' when calling ProjectTicketsApi.project_tickets_get_by_barcode"
      end
      # verify the required parameter 'ticket_barcode' is set
      if @api_client.config.client_side_validation && ticket_barcode.nil?
        fail ArgumentError, "Missing the required parameter 'ticket_barcode' when calling ProjectTicketsApi.project_tickets_get_by_barcode"
      end
      # resource path
      local_var_path = '/projects/{projectId}/tickets/byBarcode/{ticketBarcode}'.sub('{' + 'projectId' + '}', project_id.to_s).sub('{' + 'ticketBarcode' + '}', ticket_barcode.to_s)

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:body] 

      return_type = opts[:return_type] || 'TicketModel' 

      auth_names = opts[:auth_names] || ['apikey']
      data, status_code, headers = @api_client.call_api(:GET, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type)

      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ProjectTicketsApi#project_tickets_get_by_barcode\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # @param project_id 
    # @param ticket_id 
    # @param [Hash] opts the optional parameters
    # @return [TicketModel]
    def project_tickets_get_by_id(project_id, ticket_id, opts = {})
      data, _status_code, _headers = project_tickets_get_by_id_with_http_info(project_id, ticket_id, opts)
      data
    end

    # @param project_id 
    # @param ticket_id 
    # @param [Hash] opts the optional parameters
    # @return [Array<(TicketModel, Integer, Hash)>] TicketModel data, response status code and response headers
    def project_tickets_get_by_id_with_http_info(project_id, ticket_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ProjectTicketsApi.project_tickets_get_by_id ...'
      end
      # verify the required parameter 'project_id' is set
      if @api_client.config.client_side_validation && project_id.nil?
        fail ArgumentError, "Missing the required parameter 'project_id' when calling ProjectTicketsApi.project_tickets_get_by_id"
      end
      # verify the required parameter 'ticket_id' is set
      if @api_client.config.client_side_validation && ticket_id.nil?
        fail ArgumentError, "Missing the required parameter 'ticket_id' when calling ProjectTicketsApi.project_tickets_get_by_id"
      end
      # resource path
      local_var_path = '/projects/{projectId}/tickets/byId/{ticketId}'.sub('{' + 'projectId' + '}', project_id.to_s).sub('{' + 'ticketId' + '}', ticket_id.to_s)

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:body] 

      return_type = opts[:return_type] || 'TicketModel' 

      auth_names = opts[:auth_names] || ['apikey']
      data, status_code, headers = @api_client.call_api(:GET, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type)

      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ProjectTicketsApi#project_tickets_get_by_id\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
